/*
	komorikomelomasha
	http://komorikomasha.info/
	2014-02-28 v1.0.0
	baser-cart.css
*/
@import url(kickstart/kickstart.css);
@import url(custom-grid.css);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);
html, body {
  margin: 0;
  padding: 0;
  color: #333;
  min-width: 320px;
  background: #FFF;
  -ms-line-break: strict;
  line-break: strict;
  -ms-word-break: break-strict;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  zoom: 1;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p, li {
  font-size: 0.875em;
  line-height: 1.429;
}

p {
  margin: 20px 0;
}

/*---------------------------------
	TABLES
-----------------------------------*/
table {
  width: 100%;
  margin: 0 0 10px;
  text-align: left;
  border-collapse: collapse;
}
table thead, table tbody {
  margin: 0;
  padding: 0;
}
table th, table td {
  padding: 7px 10px;
  font-size: 0.875em;
  line-height: 1.429;
  border: 1px solid #ddd;
  text-align: left;
}
table th {
  background: #EFBFC1;
  border: 1px solid #ddd;
}
table td {
  background: #FFF;
  border: 1px solid #ddd;
}
table thead th {
  padding: 3px 10px;
  border: 1px solid #ddd;
}
table tbody th {
  width: 25%;
}
table tbody td {
  width: 75%;
}
table tbody tr.last th,
table tbody tr.last td {
  border-bottom: 1px solid #ddd;
}

/*
 * base
 */
.base-page {
  position: relative;
  background: url(../img/bg.png) repeat-x 0 0;
}

.base-header {
  margin: 0;
}

.base-contents {
  position: relative;
  max-width: 640px;
  margin: 0 auto 40px;
  padding: 0 10px;
}

/*
 * widget
 */
.hoverlight, .wgt-button, .mod-detail-button a, .mod-form-button a, .mod-form-button input, .mod-form-button button, .mod-finish-button a, .mod-finish-button input, .mod-finish-button button, .submit input, .mod-detail-photogallery-pageritem img {
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.hoverlight:hover, .wgt-button:hover, .mod-detail-button a:hover, .mod-form-button a:hover, .mod-form-button input:hover, .mod-form-button button:hover, .mod-finish-button a:hover, .mod-finish-button input:hover, .mod-finish-button button:hover, .submit input:hover, .mod-detail-photogallery-pageritem img:hover {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.wgt-button, .mod-detail-button a, .mod-form-button a, .mod-form-button input, .mod-form-button button, .mod-finish-button a, .mod-finish-button input, .mod-finish-button button, .submit input {
  display: inline-block;
  min-width: 280px;
  margin: 0 auto;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #555555;
  color: #FFF;
  font-size: 1.25em;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.wgt-button:hover, .mod-detail-button a:hover, .mod-form-button a:hover, .mod-form-button input:hover, .mod-form-button button:hover, .mod-finish-button a:hover, .mod-finish-button input:hover, .mod-finish-button button:hover, .submit input:hover {
  background: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.wgt-error {
  padding: 10px 20px;
  margin: 15px auto;
  color: #C30;
  font-weight: bold;
  border: 5px solid #C30;
}

.wgt-error p {
  margin: 0;
}

/*
 * module
 */
/* mod-header */
.mod-header {
  margin: 0 0 20px;
  background: url(../img/bg-line.png) repeat-x 50% 100%;
}

.mod-header-inner {
  position: relative;
  padding: 40px 0 10px;
  max-width: 640px;
  margin: 0 auto;
  min-height: 160px;
}
@media screen and (max-width: 568px) {
  .mod-header-inner {
    overflow: hidden;
    min-height: 70px;
  }
}
@media screen and (max-width: 639px) {
  .mod-header-inner {
    overflow: hidden;
  }
}

.mod-header-sitetitle {
  margin: 60px 100px 70px;
  max-width: 400px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 56px;
  line-height: 1.25;
  text-align: center;
}
.mod-header-sitetitle img {
  width: auto;
  max-height: 70px;
  vertical-align: top;
}
@media screen and (max-width: 568px) {
  .mod-header-sitetitle {
    float: left;
    margin: 20px 5px 0 45px;
    font-size: 35px;
    text-align: left;
  }
  .mod-header-sitetitle img {
    width: auto;
    max-height: 60px;
  }
}

.mod-header-figure {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 220px;
  margin: 0;
}
@media screen and (max-width: 568px) {
  .mod-header-figure {
    position: relative;
    top: 8px;
    float: right;
    width: 120px;
    margin-right: 0;
  }
}

.mod-header-basket {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 84px;
  height: 84px;
  padding: 10px 0 30px;
  background: url("../img/base/handle.png") no-repeat 50% 0;
}
@media screen and (max-width: 568px) {
  .mod-header-basket {
    width: 43px;
    height: 45px;
    padding: 10px 0 15px;
    -webkit-background-size: 85%, auto;
    -moz-background-size: 85%, auto;
    -o-background-size: 85%, auto;
    background-size: 85%, auto;
  }
}
.mod-header-basket:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 84px;
  height: 43px;
  background: url("../img/base/basket.png") no-repeat 0 0;
}
@media screen and (max-width: 568px) {
  .mod-header-basket:after {
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 43px;
    height: 22px;
  }
}
.mod-header-basket .acorn {
  display: block;
  text-align: center;
}
.mod-header-figure.noitem .mod-header-basket .acorn {
  display: none;
}
@media screen and (max-width: 568px) {
  .mod-header-basket .acorn {
    position: relative;
    top: -3px;
  }
}

.mod-header-character {
  margin: 0 0 0 auto;
  width: 130px;
  text-align: right;
}
@media screen and (max-width: 568px) {
  .mod-header-character {
    width: 70px;
  }
}

.mod-header-cart {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 10;
}
.mod-header-cart a {
  display: inline-block;
  padding: 3px 15px;
  background: #FFFFFF;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  text-decoration: none;
}
.mod-header-cart a:hover, .mod-header-cart a:active {
  background-color: #FFF4F4;
}
@media screen and (max-width: 568px) {
  .mod-header-cart {
    right: 5px;
  }
}

/* mod-footer */
.mod-footer {
  padding: 20px 0 0;
  margin: 0 0 20px;
  background: url(../img/bg-line.png) repeat-x 20% 0;
}
.mod-footer .mod-footer-inner {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  padding: 17px 10px 10px;
  *zoom: 1;
}
.mod-footer .mod-footer-inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
}
.mod-footer .sitemap {
  clear: both;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 568px) {
  .mod-footer .sitemap {
    text-align: left;
  }
}
.mod-footer .sitemap .sitemap-category {
  margin: 0 0 0 20px;
  display: inline-block;
  list-style-type: none;
  font-size: 0.75em;
  line-height: 1.5;
}
.mod-footer .sitemap .sitemap-category:first-child {
  margin-left: 0;
}
@media screen and (max-width: 568px) {
  .mod-footer .sitemap .sitemap-category {
    display: block;
    margin-left: 0;
  }
}
.mod-footer .mod-footer-copyright {
  clear: both;
  text-align: center;
}
.mod-footer .widget {
  clear: both;
  margin: 0 0 30px;
  font-size: 0.875em;
  line-height: 1.429;
}
.mod-footer .widget h2 {
  margin: 0 0 5px;
  padding: 0 0 10px;
  background: url("../img/line.png") no-repeat 0 100%;
  font-size: 16px;
}
.mod-footer .widget.blog-widget.widget-blog-categories-archives {
  clear: none;
  float: left;
  width: 45%;
  margin-bottom: 10px;
}
@media screen and (max-width: 568px) {
  .mod-footer .widget.blog-widget.widget-blog-categories-archives {
    float: none;
    display: block;
    width: 100%;
  }
}
.mod-footer .widget.blog-widget.widget-blog-monthly-archives {
  clear: none;
  float: right;
  width: 45%;
  margin-bottom: 0;
}
@media screen and (max-width: 568px) {
  .mod-footer .widget.blog-widget.widget-blog-monthly-archives {
    float: none;
    display: block;
    width: 100%;
  }
}

/* mod-globalnavi */
.mod-globalnavi {
  max-width: 640px;
  margin: 0 auto 20px;
}
@media screen and (max-width: 568px) {
  .mod-globalnavi {
    margin-bottom: 0;
  }
}
.mod-globalnavi .global-menu {
  margin: 0;
  text-align: center;
}
.mod-globalnavi li {
  display: inline-block;
  margin: 0 0 0 20px;
  list-style-type: none;
}
.mod-globalnavi li:first-child {
  margin-left: 0;
}
.mod-globalnavi li.current a {
  background-image: url("../img/line.png");
}
.mod-globalnavi li a {
  display: inline-block;
  padding: 0 0 3px;
  color: #333;
  background: no-repeat 0 100%;
  font-weight: bold;
  text-decoration: none;
}
.mod-globalnavi li a:hover {
  background-image: url("../img/line.png");
}
.mod-globalnavi.naver .naver-handle {
  position: absolute;
  top: 66px;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #606060;
}
.mod-globalnavi.naver .naver-handle:before {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: fontawesome;
  content: '\F0C9';
  color: #FFF;
  font-size: 18px;
  line-height: 30px;
}
.mod-globalnavi .naver-wrapper {
  padding: 0 10px;
}

/* mod-category */
.mod-category {
  position: relative;
  max-width: 640px;
  margin: 0 auto 20px;
}
.mod-category.naver .naver-handle {
  height: auto;
  padding: 0 0 0 20px;
  font-weight: bold;
}
.mod-category.naver .naver-handle:before {
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: fontawesome;
  content: '\F0DD';
  font-size: 20px;
  line-height: 1;
}
.mod-category .naver-wrapper {
  padding: 0 10px;
}

.mod-category-list {
  margin: 0;
  text-align: center;
}

.mod-category-listitem {
  display: inline-block;
  margin: 0 0 0 20px;
  list-style-type: none;
}
.mod-category-listitem:first-child {
  margin-left: 0;
}
@media screen and (max-width: 568px) {
  .mod-category-listitem {
    margin: 0 10px 0 0;
  }
}
.mod-category-listitem a {
  display: inline-block;
  padding: 0 0 3px;
  color: #333;
  background: no-repeat 0 100%;
  font-weight: bold;
  text-decoration: none;
}
.mod-category-listitem a:hover, .mod-category-listitem a.current {
  background-image: url("../img/line.png");
}

/* mod-items */
.mod-items {
  position: relative;
  max-width: 568px;
  margin: 0 auto;
}
@media screen and (max-width: 568px) {
  .mod-items {
    max-width: 294px;
  }
}

.mod-items-list {
  margin: 13px 0 0 -13px;
  padding: 0;
  *zoom: 1;
}
.mod-items-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
}

.mod-items-listitem {
  position: relative;
  float: left;
  margin: 13px 0 0 13px;
  width: 180px;
  padding: 0;
  list-style-type: none;
}
.mod-items-listitem:hover .mod-items-caption {
  opacity: 1;
}
.mod-items-listitem.soldout .mod-items-caption {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
.mod-items-listitem.soldout .mod-items-text, .mod-items-listitem.soldout .mod-items-price {
  display: none;
}
.mod-items-listitem.soldout:hover .mod-items-caption {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.mod-items-listitem img {
  position: static;
  margin: 0px;
  padding: 0px;
  float: left;
  display: block;
  z-index: 4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 568px) {
  .mod-items-listitem img {
    float: none;
  }
}
@media screen and (max-width: 568px) {
  .mod-items-listitem {
    width: 140px;
  }
}
@media screen and (max-width: 568px) {
  .mod-items-listitem:nth-child(2n+1) {
    clear: both;
  }
}

.mod-items-caption {
  width: 100%;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 6;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
@media screen and (max-width: 568px) {
  .mod-items-caption {
    position: static;
    padding: 10px 0;
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100);
    width: auto;
  }
}
.mod-items-caption:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.65);
  width: 180px;
  height: 180px;
  z-index: 5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 568px) {
  .mod-items-caption:before {
    display: none;
  }
}

.mod-items-text {
  position: relative;
  margin: 0 0 10px;
  z-index: 6;
  font-size: 1em;
  line-height: 1.375;
}

.mod-items-price {
  position: relative;
  margin: 0;
  z-index: 6;
  font-size: 0.875em;
  line-height: 1.429;
}

.mod-items-soldout {
  position: relative;
  margin: 0;
  color: #FFF;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.15;
  text-align: center;
  z-index: 6;
}
@media screen and (max-width: 568px) {
  .mod-items-soldout {
    font-size: 1.375em;
    line-height: 1.091;
    color: #333;
  }
}

.mod-detail {
  margin: 0 0 30px;
}

.mod-detail-photogallery {
  margin: 0 0 30px;
}
.mod-detail-photogallery .bx-wrapper {
  margin-bottom: 10px;
}
.mod-detail-photogallery .bx-viewport {
  border: none;
  background: none;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
}
@media screen and (max-width: 568px) {
  .mod-detail-photogallery {
    padding: 10px 0;
  }
}

.mod-detail-photogallery-main {
  max-width: 350px;
  margin: 0 auto;
}
@media screen and (max-width: 568px) {
  .mod-detail-photogallery-main {
    max-width: 280px;
  }
}

.mod-detail-photogallery-list {
  margin: 0;
}

.mod-detail-photogallery-listitem {
  margin: 0;
  padding: 0;
}
.mod-detail-photogallery-listitem img {
  vertical-align: bottom;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.mod-detail-photogallery-sub {
  max-width: 350px;
  margin: 0 auto;
}
@media screen and (max-width: 568px) {
  .mod-detail-photogallery-sub {
    max-width: 300px;
  }
}

.mod-detail-photogallery-pager {
  margin: -10px 0 0 -10px;
  *zoom: 1;
}
.mod-detail-photogallery-pager:after {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
}
@media screen and (max-width: 568px) {
  .mod-detail-photogallery-pager {
    margin: -8px 0 0 -8px;
  }
}

.mod-detail-photogallery-pageritem {
  float: left;
  max-width: 80px;
  margin: 10px 0 0 10px;
  padding: 0;
  list-style-type: none;
}
.mod-detail-photogallery-pageritem img {
  vertical-align: bottom;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 568px) {
  .mod-detail-photogallery-pageritem {
    max-width: 69px;
    margin: 8px 0 0 8px;
  }
}

.mod-detail-button {
  margin: 30px 0;
  text-align: center;
  cursor: pointer;
}

.mod-detail-info {
  margin: 30px auto;
}

.mod-detail-info-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}
@media screen and (max-width: 568px) {
  .mod-detail-info-table {
    border-spacing: 0;
  }
}
.mod-detail-info-table .mod-detail-info-th {
  background: none;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  white-space: nowrap;
  width: 15%;
  vertical-align: bottom;
}
@media screen and (max-width: 568px) {
  .mod-detail-info-table .mod-detail-info-th {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 0 10px 5px;
  }
}
.mod-detail-info-table .mod-detail-info-td {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  width: 85%;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25;
}
@media screen and (max-width: 568px) {
  .mod-detail-info-table .mod-detail-info-td {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 10px;
    border: none;
  }
}

.mod-heading, h2.contents-head {
  margin: 0 0 25px;
  padding: 6px 14px;
  border-bottom: 1px solid #999999;
  font-size: 1.5em;
  line-height: 1.25;
}

.mod-heading2 {
  min-height: 30px;
  padding: 10px 0 5px 38px;
  background: url("../img/bg-acorn.png") no-repeat 0 0;
  font-weight: normal;
  color: #784517;
  font-size: 1.125em;
  line-height: 1.222;
}

.mod-cart {
  margin: 0 0 30px;
}

.mod-cart-link {
  margin: 30px 0;
}
.mod-cart-link a {
  color: #000;
}
.mod-cart-link i {
  margin-right: 5px;
}

.mod-cart-table {
  width: 100%;
  border-top: 1px solid #999999;
}
.mod-cart-table th, .mod-cart-table td {
  border: none;
  border-bottom: 1px solid #999999;
  background: #FFF;
}
.mod-cart-table th {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.667;
  text-align: center;
}
.mod-cart-table td {
  text-align: left;
}
.mod-cart-table .mod-cart-delete {
  width: 15.625%;
  white-space: nowrap;
  text-align: center;
}
.mod-cart-table .mod-cart-thumb {
  width: 15.625%;
}
@media screen and (max-width: 568px) {
  .mod-cart-table .mod-cart-thumb {
    width: auto;
    padding: 0;
  }
}
.mod-cart-table .mod-cart-thumb img {
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 568px) {
  .mod-cart-table .mod-cart-thumb img {
    display: none;
  }
}
.mod-cart-table .mod-cart-thumb img {
  width: 65px;
  height: auto;
}
.mod-cart-table .mod-cart-price {
  white-space: nowrap;
  text-align: right;
  width: 15.625%;
}
.mod-cart-table tfoot th,
.mod-cart-table tfoot td {
  text-align: right;
  border-top: 2px solid #999999;
  border-bottom: 2px solid #999999;
}
.mod-cart-table tfoot .mod-cart-price {
  font-size: 1.25em;
  line-height: 1.2;
}

.mod-form {
  margin: 0 0 30px;
}

.mod-form-table th, .mod-form-table td {
  border: none;
  background: none;
  font-size: 0.875em;
  line-height: 1.429;
}
.mod-form-table th {
  padding-left: 0;
  padding-right: 10px;
  white-space: nowrap;
}
@media screen and (max-width: 568px) {
  .mod-form-table th {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    padding: 0;
  }
}
.mod-form-table td {
  width: 100%;
}
.mod-form-table td input[type="text"] {
  width: 100%;
}
@media screen and (max-width: 568px) {
  .mod-form-table td {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }
}
.mod-form-table span.required {
  position: relative;
  top: -2px;
  display: inline-block;
  margin: 0 0 0 3px;
  padding: 2px 4px 1px;
  background: #B20000;
  color: #FFF;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.667;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.mod-form-table tbody tr.last th,
.mod-form-table tbody tr.last td {
  border: none;
}
@media screen and (max-width: 568px) {
  .mod-form-table tbody tr.last th,
  .mod-form-table tbody tr.last td {
    border: none;
  }
}

.mod-form-button {
  text-align: center;
}

.mod-finish {
  margin: 0 0 30px;
}

.mod-finish-message {
  margin: 0 0 25px;
  font-size: 1.25em;
  line-height: 1.3;
  text-align: center;
}

.mod-finish-order {
  margin: 30px 0;
}

.mod-finish-order-caption {
  margin: 0 0 10px;
  font-size: 0.875em;
  line-height: 1.429;
  text-align: center;
}

.mod-finish-order-number {
  width: auto;
  margin: 0 auto;
}
.mod-finish-order-number th, .mod-finish-order-number td {
  padding: 5px 10px;
  border: 1px solid #ddd;
  font-weight: bold;
}
@media screen and (max-width: 568px) {
  .mod-finish-order-number th, .mod-finish-order-number td {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.mod-finish-order-number th {
  font-size: 0.75em;
  line-height: 1.5;
  white-space: nowrap;
}
.mod-finish-order-number td {
  font-size: 1.5em;
  line-height: 1.25;
}
.mod-finish-order-number tr.last {
  border-bottom: 1px solid #ddd;
}

.mod-finish-button {
  margin: 30px 0;
  text-align: center;
}

/* override */
.eye-catch {
  margin: 0 0 20px;
}
.eye-catch img {
  max-width: 100%;
  height: auto;
}

.post {
  margin: 0 0 30px;
  padding: 20px;
  border: 1px solid #D2D2D2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.429;
}
.post .post-body {
  margin: 0 0 20px;
}
.post #post-detail {
  margin: 0 0 20px;
}
.post p {
  margin-top: 0;
}
.post li, .post dt, .post dd, .post p {
  font-size: 100%;
}
.post blockquote {
  margin-right: 0;
  padding: 20px 20px 0;
  border: none;
  background: #F4F4F4;
  font-size: 100%;
  *zoom: 1;
}
.post blockquote:after {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
}
.post h2.contents-head {
  margin: 0 0 20px;
  padding: 0;
  border: none;
  font-size: 1.125em;
  line-height: 1.222;
}

h3.contents-head {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 1.222;
}

h4.contents-head {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.25;
}

.row-table-01 th, .row-table-01 td {
  padding: 10px 5px;
  background: none;
  border: none;
}
.row-table-01 th {
  padding: 15px 5px 10px;
  width: 20%;
  vertical-align: top;
}
@media screen and (max-width: 568px) {
  .row-table-01 th {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
  }
}
.row-table-01 td {
  width: 80%;
}
@media screen and (max-width: 568px) {
  .row-table-01 td {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }
}
.row-table-01 tbody tr.last th,
.row-table-01 tbody tr.last td {
  border-bottom: 0;
}
.row-table-01 input[type="text"] {
  display: inline-block;
  margin: 5px 0;
}
@media screen and (max-width: 568px) {
  .row-table-01 input[type="text"] {
    display: block;
    width: 80%;
  }
}
.row-table-01 textarea {
  width: 80%;
}

.auth-captcha .auth-captcha-image {
  border: 1px solid #D2D2D2;
  margin-bottom: 5px;
}
.auth-captcha #MessageAuthCaptcha {
  display: inline-block;
  margin-bottom: 5px;
}

.submit {
  display: table;
  margin: 20px auto;
}
@media screen and (max-width: 568px) {
  .submit {
    margin: 10px auto;
  }
}
.submit input {
  margin: 0 10px;
}
@media screen and (max-width: 568px) {
  .submit input {
    display: block;
    margin: 10px 0;
  }
}

#contentsNavi {
  margin: 0 0 40px;
  text-align: center;
}
#contentsNavi a {
  display: inline-block;
}
@media screen and (max-width: 568px) {
  #contentsNavi a {
    margin: 5px 0;
  }
}

#BlogCommentList {
  margin: 0 0 20px;
}

#BlogComment .contents-head {
  min-height: 30px;
  padding: 10px 0 5px 38px;
  background: url("../img/bg-acorn.png") no-repeat 0 0;
  font-weight: normal;
  color: #784517;
  font-size: 1em;
  line-height: 1.25;
}

#Contact .row-table-01 th, #Contact .row-table-01 td {
  padding: 10px 5px;
  border: none;
}
#Contact .row-table-01 th {
  padding: 15px 5px 10px;
  width: 30%;
  vertical-align: top;
}
@media screen and (max-width: 568px) {
  #Contact .row-table-01 th {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
  }
}
#Contact .row-table-01 td {
  width: 70%;
}
@media screen and (max-width: 568px) {
  #Contact .row-table-01 td {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }
}
#Contact .row-table-01 input {
  display: inline-block;
  margin: 5px 0;
}
#Contact .row-table-01 textarea {
  width: 80%;
}
#Contact .row-table-01 #RowMessageName1 .mail-before-attachment {
  margin-right: 5px;
}
#Contact .row-table-01 #FieldMessageName1, #Contact .row-table-01 #FieldMessageNameKana1 {
  margin-right: 20px;
}
#Contact .row-table-01 #FieldMessageName1 input, #Contact .row-table-01 #FieldMessageNameKana1 input {
  width: 40%;
}
@media screen and (max-width: 568px) {
  #Contact .row-table-01 #FieldMessageName1, #Contact .row-table-01 #FieldMessageNameKana1 {
    display: block;
    margin-right: 0;
  }
  #Contact .row-table-01 #FieldMessageName1 input, #Contact .row-table-01 #FieldMessageNameKana1 input {
    width: 80%;
  }
}
#Contact .row-table-01 #FieldMessageName2 input, #Contact .row-table-01 #FieldMessageNameKana2 input {
  width: 40%;
}
@media screen and (max-width: 568px) {
  #Contact .row-table-01 #FieldMessageName2, #Contact .row-table-01 #FieldMessageNameKana2 {
    display: block;
    margin-right: 0;
  }
  #Contact .row-table-01 #FieldMessageName2 input, #Contact .row-table-01 #FieldMessageNameKana2 input {
    width: 80%;
  }
}
#Contact .row-table-01 #RowMessageNameKana1 .mail-before-attachment {
  margin-right: 5px;
}
#Contact .row-table-01 #RowMessageSex label {
  margin-left: 5px;
}
#Contact .row-table-01 #RowMessageEmail1 input {
  width: 80%;
  margin-right: 10px;
}
#Contact .row-table-01 #RowMessageTel1 input {
  width: 25%;
}
#Contact .row-table-01 #RowMessageTel1 .mail-after-attachment {
  display: inline-block;
  margin: 0 10px;
}
#Contact .row-table-01 #RowMessageZip #FieldMessageZip .mail-before-attachment {
  margin-right: 5px;
}
#Contact .row-table-01 #RowMessageZip #FieldMessageZip .mail-attention {
  margin-left: 5px;
}
#Contact .row-table-01 #RowMessageZip #FieldMessageAddress2 input, #Contact .row-table-01 #RowMessageZip #FieldMessageAddress3 input {
  width: 80%;
}

.pagination {
  font-size: 0.875em;
  line-height: 1.429;
  text-align: center;
}
.pagination span {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}
@media screen and (max-width: 568px) {
  .pagination span {
    margin: 0 2px;
  }
}
.pagination .number {
  border: 1px solid #555555;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.pagination .number a {
  display: inline-block;
  width: 1.65em;
  margin: 0;
  text-decoration: none;
  padding: 1px 0 0;
}
.pagination .number.current {
  padding: 1px 0 0;
  width: 1.65em;
  background: #555555;
  color: #FFF;
}
.pagination .disabled {
  color: #999;
}

/*
 * Naver v3.0.6 - 2014-02-06
 * A jQuery plugin for responsive navigation. Part of the Formstone Library.
 * http://formstone.it/naver/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */
.naver .naver-handle {
  color: #333;
  cursor: pointer;
  display: none;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.naver .naver-handle:before {
  content: '';
  display: block;
  float: left;
  height: 15px;
  margin: 7px 10px 0 0;
  width: 20px;
}

.naver .naver-wrapper {
  height: auto;
}

.naver .naver-container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.naver.enabled .naver-handle {
  display: block;
}

.naver.enabled .naver-wrapper {
  height: 0px;
  overflow: hidden;
}
